@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}





body {
    background-color: #f4f4f4;
    padding: 20px;
}

.resume-container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-column {
    position: relative;
    width: 30%;
    padding: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile h1 {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2; 
    text-align: center; 
    font-size: 40px;
    margin-top: 15px;
}

.profile h2 {
    font-size: 15px;
    color: #8b8b8b;
    font-family: "Raleway", sans-serif;
}

.contact-info p {
    font-size: 14px;
    margin: 10px 0;
}

.contact-info img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

.technical-skills{
    position: absolute;
    bottom: 0;
    width: 100%; 
    margin: 5%;
}

.technical-skills h3 {
    margin: 20px 0;
}

.technical-skills ul {
    list-style: none;
}

.technical-skills ul li {
    font-size: 14px;
    margin: 8px 0;
}

.right-column {
    width: 70%;
    padding: 20px;
}

.professional-summary h3,
.employment h3,
.education h3 {
    margin: 150px 0px;
    font-size: 18px;
    margin-bottom: 15px;
}

.professional-summary p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.job-details {
    flex-grow: 1;
}

.job-time {
    text-align: right;
    font-size: 14px;
    color: #777;
    min-width: 100px; 
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.job h4,
.degree h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.job p,
.degree p {
    font-size: 14px;
    color: #777;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 30px 0px;

}